<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <p>Your Gold:</p>
            <span id="goldBox">{{ request.session.gold }}</span>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Farm</h3>
                    <p>(earns 10-20 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="farm">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Cave</h3>
                    <p>(earns 5-10 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="cave">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>House</h3>
                    <p>(earns 2-5 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="house">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Casino</h3>
                    <p>(earns/takes 0-50 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="casino">
                        <button>Find Gold!</button>
                    </form>
                </div>

            </div>
        </div>
        <p class="mb-1">Activities:</p>
        <div class="row">
            <div class="overflow-auto" id="activityBox">
                {% for activity in activities %}
                {% if "lost" in activity %}
                <p class="red d-flex align-items-center flex-column">{{ activity }}</p>
                {% else %}
                <p class="green d-flex align-items-center flex-column">{{ activity }}</p>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</body>

</html>