<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container pt-3">
        <nav class="navbar mb-5">
            <span class="navbar-brand mb-0 h1">Ninja Gold</span>
        </nav>
        <div class="row pl-4 pt-3">
            <span id="goldBox">Your gold: {{ request.session.gold }}</span>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Farm</h3>
                    <p>(earns 10-20 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="farm">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Cave</h3>
                    <p>(earns 5-10 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="cave">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>House</h3>
                    <p>(earns 2-5 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="house">
                        <button>Find Gold!</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 d-flex align-items-center flex-column">
                    <h3>Casino</h3>
                    <p>(earns/takes 0-50 gold)</p>
                    <form action="/process_money" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="location" value="casino">
                        <button>Find Gold!</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="row pl-4 pt-2">
            <span id="activitiesText">Activities: </span>
        </div>
        <div class="row">
            <div class="overflow-auto" id="activityBox">
                {% for activity in activities %}
                {% if "lost" in activity %}
                <p class="red d-flex align-items-center flex-column">{{ activity }}</p>
                {% else %}
                <p class="green d-flex align-items-center flex-column">{{ activity }}</p>
                {% endif %}
                {% endfor %}
            </div>

        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Reset</button>

    </div>
</body>

</html>