<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <p>Your Gold:</p>
            <span>{{ request.session.gold }}</span>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <button>Find Gold!</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <button>Find Gold!</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <button>Find Gold!</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="casino">
                    <button>Find Gold!</button>
                </form>
            </div>
        </div>
        <div class="row">
            <p>{{ request.session.activities }}</p>
        </div>
    </div>
</body>

</html>